body, h1, h2, p, button {
    margin: 0;
    padding: 0%;

}

.top-bar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(201, 201, 195);
    border-bottom: 1px solid rgb(201, 201, 195);

}

.top-items{
    font-size: 15px;
    text-align: center;
    padding: 0;
}

#logo{
    margin-left: 120px;
    width: 150px;
    height: 50px;
}

#logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#nav-center{
    justify-content: center;
    align-items: center;
}

#nav-center a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;  
}

#nav-center a:hover{
    color: rgb(0,88,231);
    background: rgb(232, 230, 230);

}

#login{
    margin-right: 120px;
}

.login-button{
    padding-left: 10px;
    width: 100px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0,88,231,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-color:  rgba(0,88,231,0.7);
    border-radius: 10px;
}



/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.item-2{
    height: 700px;
    display: flex;
    flex-direction: column;
    background: url("https://bharatpe.com/wp-content/themes/betheme/images/bg-home-banner-lg.jpg");
    justify-content: center;
    align-items: center;
}

.item-2-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-2-text-box{
    height: 500px;
    width: 450px;
    margin: 20px;
}

 .text-box-text1{
    font-family: 'Montserrat', serif;
    font-size: 50px;
    line-height: 1.2;
    margin-top: 60px;
    margin-bottom: 20px;
    word-spacing: 5px;
}
 
.text-box-text2{
    font-family: 'Montagu Slab', serif;
    font-size: 17px;
    margin-top: 30px;
    color: #858585;
    word-spacing: 5px;
}

.text-box-text3{
    font-family: 'Montserrat', serif;
    color: #858585;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 12px;
}

.download{
    display: flex;
    margin-left: -9px;
}

.store{
    display: flex;
    margin: 8px;
    width: 190px;
    height: 50px;
    border:none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

}

.icon{
    margin: 10px;
}

.text{
    font-family: 'Montserrat', serif;
    font-size: 18px;
    
}

.item-2-image-box{
    background: red;
    height: 460px;
    width: 440px;
    margin: 20px;
    border-radius: 25px;
}

.item-2-image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.item-2-circle{
    margin-top: 40px;
}

.item-2-circle i{
    margin: 7px;
}



/* --------------------------------------------------------------------------------------- */

.item-3{
    background: #1c1c1c;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 450px;
}

.item-3-heading{
    color: white;
    font-family: 'Montserrat', serif;
    font-size: 35px;
    margin-top: 40px;
}

.item-3-content{
    display: flex;
    justify-content: center;
}

.item-3-box{
    width: 250px;
    height: 250px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-3-box-image{
    width: 180px;
    height: 140px;
    padding: 20px;
}  

.item-3-box-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-3-box-text1{
    font-family: 'Montserrat', serif;
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

.item-3-box-text2{
    font-family: 'Montagu Slab', serif;
    color: white;
    font-size: 15px;
    margin-top: 8px;
}

/* ------------------------------------------------------------------------------------------------ */

.item-4{
    height: 510px;
    text-align: center;
    padding: 20px;
}

.item-4-heading1{
    font-family: 'Montserrat', serif;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.item-4-heading2{
    font-family:  'Montagu Slab', serif;
    color: rgb(129, 129, 129);
    font-size: 15px;
    margin-bottom: 30px;
}

.item-4-boxes{
    height: 390px;
    display: flex;
    justify-content: center;
}

.item-4-boxes div{
    height: 315px;
    margin: 20px;
}

.item-4-box1{
    width: 450px;
    border-radius: 10px;
}

.item-4-box1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.item-4-box2{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.item-4-box2-text1{
    font-family: 'Montserrat', serif;
    font-size: 20px;
    align-self: flex-start;
    margin-bottom: 20px;

}

.item-4-box2-text2{
    margin-block-start: 0;
    margin-block-end: 0;
    font-family:  'Montagu Slab', serif;
    font-size: 15px;
    word-spacing: 4px;
    text-align: justify;
    text-align-last: left;
    margin-right: 10px;
}


.item-4-box3{
    width:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-4-box3 i{
    margin: 10px;
}



/* ------------------------------------------------------------------------ */

.item-5{
    text-align: center;
    background: #f4f9ff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-5-heading{
    font-family: 'Montserrat', serif;
    font-size: 35px;
    margin-bottom: 10px;
}

.item-5 div{
    margin: 20px;


}

.item-5-boxes1{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    border-radius: 10px;
}

.item-5-boxes1 button{
    width: 150px;
    height: 50px;
    margin: 20px;
    font-family:  'Montagu Slab', serif;
    font-size: 15px;
    background: white;
    border: none;
    border-radius: 10px;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background:#2b7bff ;
    }
}

.item-5-boxes2{
    display: flex;
    /* background: red; */
    height: 480px;
    padding: 10px;

    
}

.boxes2-content{
    width: 550px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boxes2-images{
    height: 250px;
    border-radius: 10px;
}

.boxes2-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.boxes2-info-heading{
    font-family: 'Montserrat', serif;
    font-size: 28px;
    margin-bottom: 10px;
}

.boxes2-info-p{
    font-family:  'Montagu Slab', serif;
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(129, 129, 129);

}

.know-more{
    font-family:  'Montserrat', serif;
    font-size: 16px;
    margin-top: 20px;
    color: #2b7bff;
}

/* --------------------------------------------------------------------------- */

.item-6{
    height: 600px;
    /* background: red; */
    text-align: center;
    padding: 50px;
}

.item-6-heading{
    font-family: 'Montserrat', serif;
    font-size: 35px;
}

.item-6-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.item-6-box1{
    margin: 50px;
    width: 400px;
    height: 500px;
    margin-left: 200px;
}

.item-6-box1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-6-box2{
    /* background: green; */
    margin: 50px;
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.item-6-box2-image{
    width: 250px;
    height: 60px;
    margin-bottom: 30px;
}

.item-6-box2-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-6-box2-text{
    float: inline-start;
    font-family:  'Montagu Slab', serif;
    font-size: 25px;
    margin-bottom: 35px;
    text-align: left;
}

.item-6-box2-subbox{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.subbox-image{
    width: 65px;
    height: 65px;
    margin-right: 30px;
}

.subbox-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.subbox-text{
    font-family: 'Montserrat', serif;
    font-size: 18px;

}

.item-6-more{
    font-family:  'Montserrat', serif;
    font-size: 17px;
    color: #2b7bff;
    text-align: left;
    margin-top: 20px;

}

.item-6-box3{
    /* background: green; */
    margin: 50px;
    width: 150px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-6-box3 i{
    padding: 15px;
}

/* ------------------------------------------------------------------------------- */

.item-7{
    background: url("https://bharatpe.com/wp-content/themes/betheme/images/bg-home-banner-lg.jpg");
    height: 600px;
    text-align: center;
    padding: 50px;
}

.item-7-heading{
    font-family: 'Montserrat', serif;
    font-size: 35px;
    margin-bottom: 40px;
}

.item-7-content{
    display: flex;
    justify-content: space-between;
}

.item-7-box{
    /* padding: 30px; */
    /* background: green; */
    width: 400px;
    height: 400px;
    margin: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.item-7-box-video{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: yellow;
    margin-bottom: 30px;
    overflow: hidden;
}

.item-7-box-video iframe{
    height: 100%;
    height: 100%;
}



.box-text1{
    font-family:  'Montserrat', serif;
    margin-bottom: 15px;
    font-size: 25px;
}

.box-text2{
    font-family:  'Montagu Slab', serif;
    font-size: 17px;
    color: rgb(129, 129, 129);

}

.view-more button{
    width: 150px;
    height: 40px;
    background: white;
    font-family: 'Montserrat', serif;
    font-size: 15px;
    color: #2b7bff ;
    border-color: #2b7bff;
    border-radius: 5px;

    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background:#2b7bff ;
        color: white;
    }

}

/* -------------------------------------------------------------------------------- */

.item-8{
    text-align: center;
    height: 600px;
    padding: 30px;
}
.item-8-heading{
    font-family: 'Montserrat', serif;
    font-size: 38px;
    margin-bottom: 40px;
}

.item-8-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    
}

.item-8-box{
    width: 500px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.item-8-text1{
    font-family:  'Montagu Slab', serif;
    font-size: 15px;
    color: rgb(129, 129, 129);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}


.item-8-text2{
    font-family:  'Montserrat', serif;
    font-size: 20px;
    text-align: left;
}

.item-8-know-more{
    font-family:  'Montserrat', serif;
    font-size: 15px;
    color: #2b7bff;
    margin-top: 20px;
}

/* --------------------------------------------------------------------------- */

.item-9{
    background: #1c1c1c;
    height: 820px;
}

.item-9-content1{

    display: flex;
    height: 500px;
    padding: 40px;
}

.item-9-content1 div{
    margin: 20px;
}

.item-9-box1{
    width: 780px;
    float: left;
}

.item-9-box1-logo{
    width: 150px;
    height: 50px;
}

.item-9-box1-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-9-box1-text{
    font-family:  'Montagu Slab', serif;
    font-size: 15px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    word-spacing: 5px;

}

.item-9-box1-download{
    font-family:  'Montserrat', serif;
    font-size: 15px;
    color: white;
}

.item-9-box1-download-button{
    display: flex;
    margin: 0;
    padding: 0;
}

.item-9-box2{
    width: 380px;
}

.item-9-list{
    list-style-type: none;
}

.item-9-list a{
    text-decoration: none;
    color: white;
}

.item-9-list a:hover{
    color: #097e91;
    cursor: pointer;
}

.list-heading{
    margin-top: 40px;
    font-family:  'Montserrat', serif;
    color: white;
    margin-bottom: 20px;
}

.list-text{
    margin: 10px;
    font-family:  'Montagu Slab', serif;
    font-size: 12px;
    color: white;
}

.item-9-content2{
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
    /* margin-bottom: 20px; */
    display: flex;

}

.item-9-content2-logo{
    width: 150px;
    height: 50px;
    margin: 50px 20px 50px 20px;
    border-radius: 5px;

}

.bottom{
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 15px;
}

.bottom-text{
    font-size: 15px;
    color: white;
    margin-left:40px;

}

.icons{
    color: white;
    align-self: flex-end;
    margin-right:40px;
}

.icons i{
    font-size: 28px;
    margin: 5px;
}






